h1{
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.center{
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.bywho{
    font-family: "Arial";
    color: rgb(113, 113, 113);
}
.Bythisone{
    color: black;
}
.paragraph {
    white-space: pre-line;
    font-size: 18px;
}
body{
    background-image: url(bckgrnd\ imge.jpg);
}